{{> menu}}

<form class="box"  action="/placemark/{{street._id}}/updateplacemark/{{placemark._id}}" method="POST">
  <label>Update Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title", value="{{placemark.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="description" value="{{placemark.description}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="year" value="{{placemark.year}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="latitude", value="{{placemark.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="longitude" value="{{placemark.longitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="category" value="{{placemark.category}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Placemark</button>
</form>