{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{title}}
    </div>
          {{description}}
          {{year}}
          {{latitude}}
          {{longitude}}
          {{category}}
  </div>
</section>
