{{#each streets}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{title}}
    </h2>
    <a href="/street/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deletestreet/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}


{{#each placemarks}}
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{title}}
		</p>
		<a href="#collapsible-card" data-action="expand" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
			<span class="icon">
				<i class="fas fa-angle-down" aria-hidden="true"></i>
			</span>
		</a>
	</header>
	<div id="collapsible-card" class="is-collapsible">
		<div class="card-content">
			<p class="title is-4">
	          {{description}}
            </p>
            <p class="subtitle is-6">
          {{year}}
        </p>
        <p class="subtitle is-6">
          {{latitude}}
        </p> 
        <p class="subtitle is-6">
          {{longitude}}
        </p>
        <p class="subtitle is-6">
          {{category}}
        </p>
        <p class="subtitle is-6">
          {{author}}
        </p>
		</div>
	</div>
</div>
{{/each}}
