<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each street.placemarks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{year}}
        </td>
        <td>
          {{latitude}}
        </td>
                <td>
          {{longitude}}
        </td>
                <td>
          {{category}}
        </td>
          <a href="/placemark/{{../street._id}}/editplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/street/{{../street._id}}/deleteplacemark/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>